@charset 'UTF-8';

.jsonary {
  font-family: monospace;
}

.overlay .page.sidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 400px;
  height: 99%;
  overflow-y: scroll;
}

.selectorButton {
  position: absolute;
  right: 10px;
  top: 10px;
}

.frame .view .content {
  width: 100%;
}

.content span {
  display: inline-block;
}

.schema_structure {
  max-width: 100%;
  display: none;
}

.show_structure .schema_structure {
  display: block;
}

.show_structure .schema_raw {
  display: none;
}

.schema_raw textarea {
  min-width: 550px;
  min-height: 400px;
}
