@charset 'UTF-8';

#overlay {
  font-size: 75%;
}

.jsonary {
  font-family: monaco, monospace;
  font-size: 0.85em;
}

/* make buttons slightly less intrusive - there are sometimes a lot of them */
.jsonary .button {
	font-family: Trebuchet MS, sans-serif;
	font-size: 0.8em;
}
.jsonary .schema-list .button {
	opacity: 0.7;
}
.jsonary .link-list .button {
	opacity: 0.9;
}
.jsonary .link-list .button:hover {
	opacity: 1;
}
.jsonary .schema-list .button:hover {
	opacity: 0.85;
}


/* extra indent for arrays */
.json-array-item {
	margin-left: 1em;
}

table, tr, td {
	font-size: inherit;
}

.overlay .page.sidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 400px;
  height: 99%;
  overflow-y: scroll;
}

.selectorButton {
  position: absolute;
  right: 10px;
  top: 10px;
}

.frame .view .content {
  width: 100%;
}

.content span {
  display: inline-block;
}

.schema_structure {
  max-width: 100%;
  display: none;
}

.show_structure .schema_structure {
  display: block;
}

.show_structure .schema_raw {
  display: none;
}

.schema_raw textarea {
  min-width: 550px;
  min-height: 400px;
}
